@charset "UTF-8";
/* -COLORS.SCSS */

/* DEFAULT COLORS VARS */

$bianco:#fff;
$nero:#000;
$nerochiaro:#333;
$grigio: #575756;

/* THEME COLORS VARS */

$color_1: #000B27;
$color_2: $bianco;
$color_3: $grigio;