@charset "UTF-8";
/* _MIXIN.SCSS */

@mixin transition ($transition-property:all, $transition-time:0.3s, $method:ease-in-out){
	transition: $transition-property $transition-time $method; 
}

@mixin sfondo-trasparente($color, $alpha: 0.5) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background:$color;
	background-color:$rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str}, endColorstr=#{$ie-hex-str});
}


// Border radius

@mixin border-radius($radius) {
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
	border-top-right-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-right-radius($radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-left-radius($radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

@function to-string($value) {
	@return inspect($value);
}

// Arrow down svg 

@mixin arrow($direction:"up", $color:$bianco) {

	$color: str-slice(to-string($color),2);
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='arrow_left' x='0px' y='0px' viewBox='0 0 39.7 75.2' style='enable-background:new 0 0 39.7 75.2;' xml:space='preserve'%3E%3Cpolyline class='st0' style='opacity:1;fill:none;stroke:%23B2B2B2;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;' points='37.6,2 2,37.6 37.7,73.2 '/%3E%3C/svg%3E");
	background-position: center center;
	background-repeat:no-repeat;

	@if $direction == "up" {
		transform: rotate(90deg);
		@include transition();
	} 

	@else if $direction == "left" {
		transform: rotate(0deg);
		@include transition();
	}

	@else if $direction == "down" {
		transform: rotate(270deg);
		@include transition();
	}

	@else if $direction == "right" {
		transform: rotate(180deg);
		@include transition();
	}	  
}


 @mixin arrow_old($direction:"up", $color:$bianco) {
 
 	$color: str-slice(to-string($color),2);
	background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22%23" + $color + "%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
 	background-position: center center;
 	background-repeat:no-repeat;
 
 	@if $direction == "up" {
		transform: rotate(180deg);
 		@include transition();
 	} 
 
 	@else if $direction == "left" {
		transform: rotate(270deg);
 		@include transition();
 	}
 
 	@else if $direction == "down" {
		transform: rotate(0deg);
 		@include transition();
 	}
 
 	@else if $direction == "right" {
		transform: rotate(90deg);
 		@include transition();
 	}	  
 }


// Flex-box

@mixin flex-parent($direction:row,$justification:space-around,$align-items:center,$align-content:center) {
	display: flex; /* */
	flex-direction: $direction;
	flex-wrap: wrap;
	justify-content: $justification;
	align-items: $align-items;
	align-content: $align-content;
}

@mixin flex-child ($grow:0, $shrink:0, $basis:auto ) {
	flex-grow: $grow;
	flex-shrink: $shrink;
	flex-basis: $basis;
}


@mixin folder(){
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='Livello_1' x='0px' y='0px' viewBox='40.1 27 220.1 186.1' enable-background='new 40.1 27 220.1 186.1' xml:space='preserve'%3E%3Cg transform='translate%280,-952.36218%29'%3E%3Cpath d='M61.2,981.2c-10.5,0-19.2,8.7-19.2,19.2v144c0,10.5,8.7,19.2,19.2,19.2h177.6c10.5,0,19.2-8.7,19.2-19.2V1034 c0-10.5-8.7-19.2-19.2-19.2h-96.9c-6.7-8.6-12.2-20.5-19.3-27.6c-3.1-3.1-7.8-6-13.4-6H61.2z M61.2,995.6h48c1,0,1.7,0.3,3.2,1.8 c7,8.9,13,18.7,19.6,28.6c1.3,2,3.6,3.2,6,3.2h100.8c2.8,0,4.8,2,4.8,4.8v110.4c0,2.8-2,4.8-4.8,4.8H61.2c-2.8,0-4.8-2-4.8-4.8 v-144C56.4,997.6,58.4,995.6,61.2,995.6z'/%3E%3C/g%3E%3C/svg%3E");
	background-position: center center;
	background-repeat:no-repeat;
	background-size: contain;
}

