@charset "UTF-8";
/* _TEXT.SCSS */

/* Font Library */

/* FONT PER LE ICONE */

@mixin testo_uno {font:normal 100%/1.5 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
@mixin testo_due {font:normal 100%/1.5 "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;}
@mixin testo_tre {font:normal 100%/1.5 "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;}

