@import "config/config.scss";
/* MAIN */

/* BODY */
html {
	overflow-y: scroll;
}

html.bloccoscroll { overflow-y:hidden; }

html, body {
	@include testo_uno;
	font-size:12px;
	line-height: 1.6em;
	letter-spacing: 0.03em;
	word-spacing: 0.07em;
	font-weight: 300;
	max-width: 100%;
	color: $color_3;

	@include mq($from:tablet){font-size:13px;}
	@include mq($from:desktop){font-size:14px;}
	@include mq($from:wide){font-size:15px;}

	p {
		font-size:12px;
		line-height: 1.6em;
		@include mq($from:tablet){font-size:13px;}
		@include mq($from:desktop){font-size:14px;}
		@include mq($from:wide){font-size:15px;}
	}
}

body {

	&:after, &:before{
		content: " ";
		position: fixed;
		width: 0px;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&:after{
		left: inherit;
		right: 0;
	}
}

body.bloccoscroll {
  overflow: hidden;
}

/* CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI  */

#contenuti {
	position: relative;
	z-index: 3;
	width:100%;
	background: $bianco; 
	margin-top:0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

