@import "config/config.scss";
/* GRID.SCSS */

/*-- our cleafix hack -- */ 
.wkrow:before, 
.wkrow:after {
    content:"";
      display: table ;
    clear:both;
}

[class*='wkcol-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    /*-- our gutter -- */
    padding: 15px; 
    box-sizing: border-box;


    img {
    	max-width: 100%;
    }
}

.wkcol-0{ width: 4.16%; }
.wkcol-1{ width: 8.33%; }
.wkcol-2{ width: 16.66%; }
.wkcol-3{ width: 25%; }
.wkcol-4{ width: 33.33%; }
.wkcol-5{ width: 41.66%; }
.wkcol-6{ width: 50%; }
.wkcol-7{ width: 58.33%; }
.wkcol-8{ width: 66.66%; }
.wkcol-9{ width: 75%; }
.wkcol-10{ width: 83.33%; }
.wkcol-11{ width: 91.66%; }
.wkcol-12{ width: 100%; }

@include mq($to:tablet){
	.wkcol-0{ width: 50%; }
	.wkcol-1{ width: 50%; }
	.wkcol-2{ width: 100%; }
	.wkcol-3{ width: 100%; }
	.wkcol-4{ width: 100%; }
	.wkcol-5{ width: 100%; }
	.wkcol-6{ width: 100%; }
	.wkcol-7{ width: 100%; }
	.wkcol-8{ width: 100%; }
	.wkcol-9{ width: 100%; }
	.wkcol-10{ width: 100%; }
	.wkcol-11{ width: 100%; }
	.wkcol-12{ width: 100%; }
}

.spaziatura {
	padding: 0;
	position: relative;
	overflow: visible;
	margin-bottom: 30px !important;

	@include mq($from:tablet){
		margin-bottom: 50px !important;
	}
	@include mq($from:desktop){
		margin-bottom: 60px !important;
	}
	@include mq($from:wide){
		margin-bottom: 70px !important;
	}	
}

.overflow_visibile {
	overflow: visible !important;
}



/* MASONRY GRID */

.masonry-grid {
	width: 100%;
	position: relative;
	margin: 50px auto 0 auto;

	@include mq($from:tablet){
		width: 90%;
		// GRIGLIA VECCHIA
		// width: 93%;
	}

	@include mq($from: desktop){
		margin: 50px auto;
	}

	@include mq($from:1280px){
		width: calc(90% + 2px);
		// GRIGLIA VECCHIA
		//width: calc(1280px + 2.5%);
	}
}
.item-masonry {
	display: block;
	cursor: pointer;
	width: 100%;
	margin: 0%;
	height: auto;
	position: relative;

	@include mq($from:tablet) {
		width: 96%;
		margin: 2%;
	}

	.item-img {
		//background: $color_1;
		@include transition;
	}
	.item-img {
	    width: 100%;
	    padding-top: 56.25%;
	    height: 0;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.item-img.no-image {
		width: 100%;
		position: relative;
		padding-top: 38%;
		padding-right: 15px;
		padding-bottom: 15px;
		overflow: auto;

		.item-text {
			color: $bianco;
		}
	}

	img {
		width: 100% !important;
		display: block;
		margin: 0;
		padding: 0;
		opacity: 1;
		@include transition();
		-webkit-backface-visibility: hidden;
	}

	@include mq($from:tablet){
	    width: calc(50% - 2px);
    	margin: 1px;
    	// GRIGLIA VECCHIA
    	// width:47%;
		// margin: 1.5%;
	}

	.item-text {
		text-align: left;
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	    padding: 20px;
	    background : -moz-linear-gradient(50% 3.89% -90deg,rgba(255, 255, 255, 0) 0%,rgba(0, 11, 39, 0.4) 100%);
		background : -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 11, 39, 0.4) 100%);
		background : -webkit-gradient(linear,50% 3.89% ,50% 97.88% ,color-stop(0,rgba(255, 255, 255, 0) ),color-stop(1,rgba(0, 11, 39, 0.4) ));
		background : -o-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 11, 39, 0.4) 100%);
		background : -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 11, 39, 0.4) 100%);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000B27' ,GradientType=0)";
		background : linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 11, 39, 0.4) 100%);
		filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#000B27' , GradientType=0);
		@include transition;

		h4 {
			color: $bianco;
			font-size: 1rem;

			@include mq($to: tablet){
    			font-size: .875rem;
    		}
		}

		.sottotitolo {
    		color: $bianco;

    		@include mq($to: tablet){
    			font-size: .6rem;
    		}
		}

		.sottotitolo:first-letter { text-transform: capitalize;}
	}

	&:hover {
		opacity: 1;
	}

	&:hover .item-text {
		background-color: rgba(33, 20, 79, .7);
		@include transition;
	}

}


.lowercase {
	text-transform: lowercase !important;
}

.wrapper.page_title {
	margin-top: 200px;
	@include mq($from: desktop){
		margin-top: 120px;
	}
}