@import "config/config.scss";
/* HOMEPAGE */
.hero-slider-home.wk-slider {
	height: 100vh;
}
.hero-slider-home.wk-slider ul.slides li {
	height: 100vh;
}

.hero-slider-home ol.flex-control-nav.flex-control-paging {
	display: none;
}

.notouch .hero-slider-home .flex-direction-nav li a {
	@include mq($from: desktop){
		width: 5%;
	}
}

.slide__caption {
    position: absolute;
    bottom: 5%;
    left: 5%;
  	@include testo_due; 
    letter-spacing: .1em;
    font-size: .75rem;
    color: white;
    font-weight: 300;
    max-width: 90%;

    p {
    	font-size: .75rem;
	    color: white;
	    font-weight: 300;
	    
    	line-height: 1.2em;
    	margin: 0;

        @include mq($to: tablet){
            font-size: .6rem;
        }
    }

    h4 {
        color: white;
        margin-bottom: 0;
        line-height: 1.3em;
        font-size: .875rem;

        @include mq($from: tablet){
            line-height: 1.6em;
            font-size: 1.125rem;
        }
    }
}

.hero-slider-home ul.slides li > a {
    position: absolute;
    width: 100%;
    height: 100%;
    &:hover,
    &:hover * {
        opacity: 1 !important;
    }
}