@import "config/config.scss";
/* MENU WIDE */

ul#menu_wide {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

#menu_wide {
	& li {
		padding: 0px 20px;
	}
	& li a {
		@include testo_due;
	    text-transform: uppercase;
	    font-size: .8rem;
	    display: flex;
	    align-items: center;
	    position: relative;
	}

	& > li > a {
		padding: 15px 20px;
		font-weight: 600;
	    letter-spacing: .6em;
	}
}

#menu_wide > li > ul.sub-menu {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    justify-content: flex-end;
    padding: 7px 5%;
    margin: 0;
    z-index: -1;
    list-style-type: none;
    transform: translateY(-100%);
    opacity: 0;
    @include transition;
}

#menu_wide > li > ul.sub-menu > li:last-child {
	    padding: 0px 0px 0 20px;
}

/* NASCONDO SOTTOMENU */
//#menu_wide > li ul { display:none; }

/* MOSTRO SOTTOMENU SE ATTIVI */
#menu_wide > li.current-menu-ancestor > ul { 
	opacity: 1;
	transform: translateY(0%);
}

#menu_wide > li ul > li.menu-item-has-children > a {
	&:after { 
		float:right;
		margin-left: 5px;
	    padding-top: 0px;
	    content: '';
	    display: block;
	    width: 8px;
	    height: 10px;
		@include arrow_old("down", $color_1);
	}
	&.attivo {
		&:after {
			@include arrow_old("up", $color_1);
		}
	} 
	&.aperto {
		&:after {
			@include arrow_old("up", $color_1);
		}
	} 
}

#menu_wide > li.menu-item-has-children:hover {
	& > ul.sub-menu {
		opacity: 1;
		background-color: rgba(255,255,255,1);
		transform: translateY(0%);
		@include transition;
	}
}

#menu_wide > li > ul > li > ul {
    position: absolute;
    list-style-type: none;
    padding: 10px 0;
    background-color: $color_1;
    visibility: hidden;
    transform: translateY(15%);
    opacity: 0;
    @include transition;

    li {
    	padding: 5px 20px;
    }

    li a {
    	color: white;
    	font-size: .6875rem;
    }
}

#menu_wide > li > ul > li.menu-item-has-children:hover > ul {
	visibility: visible;
	transform: translateY(7px);
	opacity: 1;
	@include transition;
}

#menu_wide > li > a::before {
	content: " ";
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -3px;
    @include transition;
}

#menu_wide > li:hover > a {
	opacity: 1;
}
	

#menu_wide > li:hover > a::before,
#menu_wide .current-menu-item > a::before,
#menu_wide .current-menu-parent > a::before {
    width: calc(100% - 45px);
    @include transition;
}




#menu_wide > li > .sub-menu > li > a::before {
	content: " ";
    display: block;
    width: 0;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    @include transition;
}
	
#menu_wide > li > .sub-menu > li:hover > a::before,
#menu_wide > li > .sub-menu > .current-menu-item > a::before {
    width: 100%;
    @include transition;
}

/*
body #menu_wide > li.menu-item.news-menu-item {
	position: relative;
}*/
body #menu_wide > li.menu-item.current-menu-parent > .sub-menu {
	z-index: -9;
}
body #menu_wide > li.menu-item.news-menu-item > .sub-menu {
	padding: 7px calc(5% + 118px) 7px 5%;
}

/*** HEADER ATTIVO ***/
header.attivo {
	#menu_wide > li > ul.sub-menu {
		background-color: rgba(255,255,255,1);
		@include transition;
	}
}
