@import "config/config.scss";

/***************************/
/* SINGLE PAGE */

.hero-img {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper.content_wrapper {
    max-width: 720px;
    margin-top: 70px;
    margin-bottom: 70px;
}


.blocco_meta_progetto {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;

    @include mq($from: tablet){
    	margin: 100px auto;	
    	justify-content: space-between;
    }
}

.blocco_meta__sx,
.blocco_meta__dx {
	width: 100%;
	@include mq($from: tablet){
		width: 50%;
	}
}

h5.title_accordion {
    display: flex;
    align-items: center;
    font-weight: 600;

    @include mq($from: tablet){
    	justify-content: flex-end;
    }

    svg {
    	width: 20px;
    }
}

body span.link_collaborazioni,
body span.link_collaborazioni *,
body span.link_collaborazioni p {
    font-size: .75rem !important;
    margin: 0;
}

.accordion_sidebar .title_accordion {
	cursor: pointer;
}

.accordion_sidebar .galleria {
    visibility: hidden !important;
    opacity: 0;
    height: 0;
    width: 0 !important;
    /* position: absolute !important; */
}