@import "config/config.scss";
/* HEADER */
/* TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA */
/* STILE DEL MENU DI APERTURA DEL MENU */
.slide__caption {
	display: none;
}
.slide__caption.wk-loaded {
	display: block;
}

header {
	z-index: 999;
	top: 0;
	position: fixed;
	width: 100%;
    height: auto;
    @include transition;
}

header .wrap {
	margin: 0 auto;
	width: 90%;
	display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq($to: desktop){
    	height: 48px;
    }
}

header.bianco {
	background-color: rgba(255, 255, 255, .8);

	&:hover {
		background-color: rgba(255, 255, 255, 1);
	}
}

/* LOGO */
.logo_container {
	width: 50%;
	@include transition;

	@include mq($from: tablet){
		width: 25%;
	}
	@include mq($from: desktop){
		width: 20%;
		opacity: 1;
		visibility: visible;
	}
	@include mq($from: desktop){
		width: 18%;
	}
}

.logo_container .titolo_sito svg {
	display: block;
}


.logo_quadrato_container {
    width: 20%;
    max-width: 90px;
    left: 50%;
    top: 16px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 99;
    @include mq($from: desktop){
		display: none;
	}
}

header.attivo .logo_quadrato_container,
.nav-open > .logo_quadrato_container {
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%) scale(.75);
	@include transition;
}


header.attivo .logo_container {
	@include mq($to: desktop){
		opacity: 1;
		visibility: visible;
		@include transition;
		transition-delay: .5s;
	}
}


#logo_sito {
	display: block;
	position: absolute;
	right: -96px;
	margin-right: 2%;
	height: auto;
	padding-bottom: 33.5%;
	width: 200px;
	overflow: visible;
	vertical-align: middle; 
	z-index: 99;

	svg { 
		overflow: visible;
		display: inline-block;
		position: absolute;
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
	svg:not(:root) { overflow: visible; overflow-x:visible; overflow-y:visible;  }


	@media screen and (min-width:470px) and (max-width:767px) {

		right:40px;

	}

	@include mq($from: tablet) {

		right: -260px;
		width: 358px;
		height: 120px;
		padding: 0;
		left: 86%;
		top: 2px;
	}

	@include mq($from: 1140px) {
		left: 78%;
		width: 418px;
		height: 140px;
	}

}

header.attivo {
	background-color: rgba(255,255,255,1);
	@include transition;
}

/*
header.attivo .wrap {
	background-color: $bianco;
	@include transition;
	transition-delay: .3s;
}*/

header.attivo #logo_sito {
	@include transition;
	@include mq($from:tablet){
		width: 200px;
		height: 67px;
		top:5px;
	}
}

.wide_menu_container {
	display: none;
	@include mq($from: desktop){
		flex-grow: 1;
	    display: flex;
	    justify-content: flex-end;
	    align-items: center;
	}
    
}


/* SELETTORI LINGUA */
#lingue_mobile {
	text-transform: uppercase;
	& > li {
		
		a  {
			display: block;
			width:100%;
			color:$color_2;
			outline: none;
			font-size:13px;
			letter-spacing: 1px;
			padding: 1em 0.5em 1em 1em;
			text-shadow: 0 0 1px rgba($color_1,0.1);
			border-bottom:1px solid lighten($color_1,10%);
		}
	}
}


.functional_menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;

	.search_item .elementor-icon-wrapper {
		display: flex;
		align-items: center;
	}

	li {
	    margin: 0 20px;

	    &.instagram_item {
	    	margin: 0 0 0 20px;
	    }

	    &.search_item {
	    	margin: 0;
	    }
	}

	.language_selector_item {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.language_selector_item a {
		@include testo_due;
	    text-transform: uppercase;
	    font-size: .7rem;
	    opacity: .5;
	    letter-spacing: .3em;
	    font-weight: 300;
	    line-height: 2.6em;
	    position: relative;
	    padding: 0 5px;
	    @include transition;

	    &.active {
	    	opacity: 1;
	    	font-weight: 600;
	    }

	    &:first-child {
	    	&::after {
	    		content: " ";
	    		width: 2px;
	    		height: 1.6em;
	    		background-color: $color_1;
	    		position: absolute;
	    		top: 50%;
	    		right: 0;
	    		transform: translateY(-50%);
	    	}
	    }
	}

	.language_selector_item a:not(.active):hover {
		opacity: 1;
		@include transition;
	}

}

.notouch header:hover {
	background-color: rgba(255,255,255,1);
	@include transition;
}

.notouch #menu_wide > li.menu-item-has-children:hover > .submenu {
	background-color: rgba(255,255,255,1) !important;
	@include transition;
}