@import "config/config.scss";
/***************************/
/* STILE DEL MENU DI APERTURA DEL MENU */
/* MENUMOBILE:SCSS */

/* STILE DEL MENU DI APERTURA DEL MENU */
$bottone_color: $bianco;
$sfondo_nav: $bianco;
$color_nav: $color_1;

a.mobile-menu {
    display: block;
    width: 48px;
    height: 48px;
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 999999999;
    background-color: transparent;
    opacity: 1;

    @include mq($from: desktop){
        display: none;
    }
  
    span {
        display:block;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 14px;
        left: 14px;
        background-color: $color_1
    } 
}

nav.menu_mobile_nav {
  
  background:$sfondo_nav;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: unset;
  left: 0;
  opacity: .95;
  transition: all .4s;
  transition-delay: .6s;
  text-align: center;

  @include mq($from: desktop){
      display: none;
  }
  
  .nav_wrapper {
      position:relative;
      width:100%;
      height:100%;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      transform: scale(.95);
      @include transition;
  }
  
  ul {
    padding:0;
    margin: 0;
    padding-top:15px;


    & > li {
        padding:0;
        list-style: none;
        
        a  {
            @include testo_due;
            display: inline-block;
            width:auto;
            color:$color_nav;
            outline: none;
            font-size: .75rem;
            text-transform: uppercase;
            padding: 0 0 1.2em 0;
            letter-spacing: .5em;
            box-sizing: border-box;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            opacity: .4;
            @include transition;
        } 

        a:hover {
            opacity: 1;
            @include transition;
        }
      
    } /* LI */

    &.menu_mobile_tech::before {
      content: " ";
      width: 30px;
      border-bottom: 1px solid white;
    }

    &.menu_mobile_tech > li a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
    }
    
    /* NASCONDO SOTTOMENU */
    & > li > ul { display:none; }
    
    /* MOSTRO SOTTOMENU SE ATTIVI */
    & > li.current-menu-ancestor > ul { display:block; }
    
    li.menu-item-has-children > a {


      &:after { 
        margin-left: 5px;
        padding-top:0px;
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        @include arrow_old("down", $color_nav);
      }
      &.attivo {
        &:after {
          @include arrow_old("up", $color_nav);
        }
      } 
      &.aperto {
        &:after {
          @include arrow_old("up", $color_nav);
        }
      } 
    }

    li.current-menu-item a {
        opacity: 1;
    }
  } /* UL */
}


.menu_mobile_nav {
    top: 0;
    transform: translateY(-100%);
    @include transition;
}

/*** OPEN EVENT ***/

.nav-open .menu_mobile_nav {
    transform: translateY(0%);
    @include transition;

    .nav_wrapper {
        transform: scale(1);
        opacity: 1;
        @include transition(.4s);
        transition-delay: .6s;
    }
}


.sub-menu > li > a {
  font-size: .65rem;
}


/* ICON MENU */

.icon_mobile_menu, .social_mobile_menu, .app_mobile_menu {
  width: 90%;
  margin-left: 5% !important;
  text-align: center;
  padding:0;
  margin: 0;
  display: flex;
  @include flex-parent();
  justify-content:center;
  padding-top:27px !important;

  li {
    padding:0;
    margin: 0;
    width: 30px !important;
    height: 20px;
    margin: 15px;
    display: inline-block;

    a {
      width: 30px !important;
      height: 20px;
      display: inline-block !important;
      position:relative;
      padding:0 !important;

      svg {
        height: 20px;

        path {
          fill: $bianco;
        }
      }
    }
  }

  li.lang_mobile a {
      font-weight: 500;
      text-transform: uppercase;
      line-height: 20px;
      font-size: 18px;
    }
}

.menu_mobile_nav .logo_quadrato_container {
    position: relative;
    margin-bottom: 30px;
}

.menu_mobile_nav .functional_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.menu_mobile_nav .functional_menu li {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    margin: 0;
}

.menu_mobile_nav .functional_menu .language_selector_item {
    width: 100%;

    a {
        min-width: 30px;
    }

    a:last-child {
        margin-left: 2px;
    }
}