@import "config/config.scss";

/* TIPOGRAFIA.SCSS */

html, body {
  @include testo_uno;
  line-height: 1.6em;
}

i, em { font-style:italic;}
strong, b { font-weight:bold; }
strong em, strong i, { font-weight: bold; font-style: italic; }

/* Link di base */
a {
	text-decoration:none;
	color: $color_1;
	@include transition(all 0.2s ease-in-out);
  	outline:none !important;
}

a:hover {
  opacity: 0.7;
	text-decoration:none;
  outline:none !important;
}

@mixin textexpand {
	letter-spacing:0.06em;
	word-spacing:0.1em;
}


/* TITOLI GENERALI DEL SITO */

h1, h2, h3, h4, h5, h6 {
	font-weight:600;
	line-height:1.3em;
	display:block;
	width:100%;
	clear:both;
	@include testo_due;
	text-transform: uppercase;
}

h1 {
	line-height: 1.1em;
	font-size: 1.3rem;
	font-weight:600;
	letter-spacing: .1em;
	@include mq($from:desktop) { font-size:1.3rem;}
	@include mq($from:wide) { font-size:1.4rem;}
}	
	
h2 {
	font-size:1.2rem;
	font-weight:600;
	letter-spacing: .1em;
	@include mq($from:desktop) { font-size:1.3rem;}
}

h3 {
	color: $color_1;
	font-size:1.2rem;
	font-weight:600;
	letter-spacing: .1em;
	text-transform: uppercase;
}
	
h4 {
	@include testo_uno;
	color: $color_1;
	text-transform: unset;
	font-size: .9375rem;
	font-weight:400;
	letter-spacing: .1em;
}
	
h5 {
	color: $color_3;
	font-weight: 400;
    font-size: .8125rem;
    line-height: 1em;
    letter-spacing: .1em;
	text-transform:uppercase;}

h6 {
	font-size:0.6875rem;
	color: $color_3;
	text-transform:uppercase;
	font-weight:300;
	letter-spacing: .1em;
}
