@import "config/config.scss";

/* WOOCOMMERCE.SCSS */

button.single_add_to_cart_button {

	display: block;
    color: #fff;
    background: #0592C7;
    text-transform: uppercase;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 3em;
    position: relative;
    bottom: 15px;
    border: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    @include transition();
        width: 200px;
	clear: both;
	margin-top: 30px;
	float: left;
	cursor: pointer !important;

    &:hover {
    	background:$color_1;
    }
	
}

.immagine_singolo_prodotto {
	width: 100%;
	height: 0;
	padding-bottom: 40%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 4px;
	overflow: hidden;
}


div.buttons_added {
	display:block;
	width:200px;
	position:relative;
	clear: both;
}

.buttons_added input.minus, .buttons_added input.plus  { 
	width:30px;
	height:30px;
	background:$color_1;
	color:$bianco;
	float:left;
	margin-top:1em;
	clear: none;
	border: 0;
	border-radius: 3px;
	cursor: pointer !important;

    &:hover {
    	background:$color_1;
    }
}


.buttons_added input.plus {
	float:right;}

.buttons_added input.input-text.qty {
width:130px;
height: 30px;
line-height: 30px;
text-align:center;
position:absolute;
margin-top: 1em;
    margin-left: 5px;
    border: 0;
    background: none !important;
    padding-left: 10px;

}

.book_start_date_label {
	    margin-top: 1em !important;
	    clear: both;
	    display: block;
	    text-transform: uppercase;
	    color: $color_1;
	    font-weight: 600;
	    margin-bottom: 10px;
	
}

.booking_calender.hasDatepicker {
	cursor: text!important;
	height: 30px;
	line-height: 30px;
	border: 0;
	background: none;
	border-bottom: 1px solid $color_1;
	display: block;
    float: left;
    margin-right: 2px;
}

#checkin_cal {
	width: 30px !important;
	height: 30px !important;
}


#show_addon_price {
	display: none !important; 
}


.woocommerce table.shop_table {
	border: 0 !important;
}

.woocommerce table.shop_table td {
	border-top: 0 !important;
	border-bottom: 1px solid $color_1 !important;
}


.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	width: auto!important;

	h2 {
		line-height: 2em !important;
	}
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background-color: $color_1 !important;
	margin-top: 1em !important;
	@include transition();

	&:hover {background-color:$color_1 !important;};
}

.woocommerce {
	float: left;
    clear: both;
    width: 100%;
}