/* _BLUEIMPGALLERY.SCSS */
/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
.blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-backface-visibility: hidden; }

.blueimp-gallery > .slides > .slide > .slide-content {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  opacity: 1; }

.blueimp-gallery {
  position: fixed;
  z-index: 99999;
  overflow: hidden;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  visibility: hidden;
  display: none;
  -ms-touch-action: none; }

.blueimp-gallery-carousel {
  position: relative;
  z-index: auto;
  height: 432px;
  max-width: 768px;
  margin: 1em auto;
  box-shadow: 0 0 10px #000; }

.blueimp-gallery-display {
  display: block;
  visibility: visible;
  opacity: 1; }

.blueimp-gallery > .slides {
  position: relative;
  height: 100%;
  overflow: hidden; }

.blueimp-gallery > .slides > .slide {
  position: relative;
  float: left;
  height: 100%;
  text-align: center;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }

.blueimp-gallery, .blueimp-gallery > .slides > .slide > .slide-content {
  transition: opacity .5s linear; }

.blueimp-gallery > .slides > .slide-loading > .slide-content {
  opacity: 0; }

.blueimp-gallery > .slides > .slide-error > .slide-content {
  display: none; }

.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  width: 10vw;
  height: 100vh;
  opacity: .9;
  text-indent: -99999;
  font-size: 1px;
  position: absolute;
  top: 0;
  cursor: pointer;
  display: block;
  background: none; }
  .blueimp-gallery > .prev:after,
  .blueimp-gallery > .next:after {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='arrow_left' x='0px' y='0px' viewBox='0 0 39.7 75.2' style='enable-background:new 0 0 39.7 75.2;' xml:space='preserve'%3E%3Cpolyline class='st0' style='opacity:1;fill:none;stroke:%23B2B2B2;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;' points='37.6,2 2,37.6 37.7,73.2 '/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
    content: '';
    width: 25px;
    height: 0;
    padding-bottom: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg); }

.blueimp-gallery > .next {
  left: auto;
  right: 0; }
  .blueimp-gallery > .next:after {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='arrow_left' x='0px' y='0px' viewBox='0 0 39.7 75.2' style='enable-background:new 0 0 39.7 75.2;' xml:space='preserve'%3E%3Cpolyline class='st0' style='opacity:1;fill:none;stroke:%23B2B2B2;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;' points='37.6,2 2,37.6 37.7,73.2 '/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
    left: initial;
    right: 10%;
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg); }

.notouch .blueimp-gallery > .prev {
  left: 2%; }

.notouch .blueimp-gallery > .prev:hover {
  left: 1%; }

.notouch .blueimp-gallery > .next {
  right: 2%; }

.notouch .blueimp-gallery > .next:hover {
  right: 1%; }

.notouch .blueimp-gallery > .prev,
.notouch .blueimp-gallery > .next {
  transition: all 0.3s ease-in-out;
  opacity: .3; }

.notouch .blueimp-gallery > .prev:hover,
.notouch .blueimp-gallery > .next:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out; }

.blueimp-gallery > .close, .blueimp-gallery > .title {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0 40px 0 0;
  font-size: 20px;
  line-height: 30px;
  color: #fff !important;
  text-shadow: 0 0 2px #000;
  opacity: .8;
  display: none; }

.blueimp-gallery, .blueimp-gallery > .slides > .slide > .slide-content {
  margin: auto !important; }

.blueimp-gallery > .slides > .slide > .slide-content,
.blueimp-gallery > a.prev,
.blueimp-gallery > a.next,
.blueimp-gallery > a.close,
.blueimp-gallery > a.play-pause {
  font-weight: 100 !important;
  color: #fff !important; }

.blueimp-gallery > .close {
  font-size: 30px;
  width: 48px;
  height: 48px;
  position: fixed;
  left: auto;
  right: 15px;
  top: 15px;
  overflow: hidden;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='close_cross' x='0px' y='0px' viewBox='0 0 59.6 59.6' style='enable-background:new 0 0 59.6 59.6;' xml:space='preserve'%3E%3Cline class='st0' style='fill:none;stroke:#000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;' x1='57.6' y1='2' x2='2' y2='57.6'/%3E%3Cline class='st0' style='fill:none;stroke:#000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;' x1='2' y1='2' x2='57.6' y2='57.6'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  z-index: 99999;
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .blueimp-gallery > .close svg#close_cross {
    width: 50%;
    margin: 25%;
    transition: all 0.3s ease-in-out; }

.notouch .blueimp-gallery > .close:hover {
  background-color: #fff;
  color: #fff;
  transition: all 0.3s ease-in-out; }
  .notouch .blueimp-gallery > .close:hover svg#close_cross {
    width: 60%;
    margin: 20%;
    transition: all 0.3s ease-in-out; }

.blueimp-gallery > .indicator {
  position: absolute;
  top: auto;
  right: 15px;
  bottom: 15px;
  left: 15px;
  margin: 0 40px;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 10px;
  display: none; }

.blueimp-gallery > .indicator > li {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 6px 3px 0 3px;
  border: 1px solid transparent;
  background: #ccc;
  background: rgba(255, 255, 255, 0.25) center no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 2px #000;
  opacity: .5;
  cursor: pointer; }

.blueimp-gallery > .indicator > .active {
  background-color: #fff;
  border-color: #fff;
  opacity: .8; }

.blueimp-gallery-controls > .indicator {
  display: block;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.blueimp-gallery-single > .indicator {
  display: none; }

.blueimp-gallery > .indicator {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

* + html .blueimp-gallery > .indicator > li {
  display: inline; }

.blueimp-gallery-carousel {
  position: relative;
  z-index: auto;
  height: 432px;
  max-width: 768px;
  margin: 1em auto;
  box-shadow: 0 0 10px #000; }

.blueimp-gallery > .slides > .slide > .slide-content {
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  opacity: 1; }

ol.indicator {
  display: none !important; }
