/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/* GRID.SCSS */
/*-- our cleafix hack -- */
.wkrow:before,
.wkrow:after {
  content: "";
  display: table;
  clear: both; }

[class*='wkcol-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  /*-- our gutter -- */
  padding: 15px;
  box-sizing: border-box; }
  [class*='wkcol-'] img {
    max-width: 100%; }

.wkcol-0 {
  width: 4.16%; }

.wkcol-1 {
  width: 8.33%; }

.wkcol-2 {
  width: 16.66%; }

.wkcol-3 {
  width: 25%; }

.wkcol-4 {
  width: 33.33%; }

.wkcol-5 {
  width: 41.66%; }

.wkcol-6 {
  width: 50%; }

.wkcol-7 {
  width: 58.33%; }

.wkcol-8 {
  width: 66.66%; }

.wkcol-9 {
  width: 75%; }

.wkcol-10 {
  width: 83.33%; }

.wkcol-11 {
  width: 91.66%; }

.wkcol-12 {
  width: 100%; }

@media all and (max-width: 47.99em) {
  .wkcol-0 {
    width: 50%; }
  .wkcol-1 {
    width: 50%; }
  .wkcol-2 {
    width: 100%; }
  .wkcol-3 {
    width: 100%; }
  .wkcol-4 {
    width: 100%; }
  .wkcol-5 {
    width: 100%; }
  .wkcol-6 {
    width: 100%; }
  .wkcol-7 {
    width: 100%; }
  .wkcol-8 {
    width: 100%; }
  .wkcol-9 {
    width: 100%; }
  .wkcol-10 {
    width: 100%; }
  .wkcol-11 {
    width: 100%; }
  .wkcol-12 {
    width: 100%; } }

.spaziatura {
  padding: 0;
  position: relative;
  overflow: visible;
  margin-bottom: 30px !important; }
  @media all and (min-width: 48em) {
    .spaziatura {
      margin-bottom: 50px !important; } }
  @media all and (min-width: 62.5em) {
    .spaziatura {
      margin-bottom: 60px !important; } }
  @media all and (min-width: 78.75em) {
    .spaziatura {
      margin-bottom: 70px !important; } }

.overflow_visibile {
  overflow: visible !important; }

/* MASONRY GRID */
.masonry-grid {
  width: 100%;
  position: relative;
  margin: 50px auto 0 auto; }
  @media all and (min-width: 48em) {
    .masonry-grid {
      width: 90%; } }
  @media all and (min-width: 62.5em) {
    .masonry-grid {
      margin: 50px auto; } }
  @media all and (min-width: 80em) {
    .masonry-grid {
      width: calc(90% + 2px); } }

.item-masonry {
  display: block;
  cursor: pointer;
  width: 100%;
  margin: 0%;
  height: auto;
  position: relative; }
  @media all and (min-width: 48em) {
    .item-masonry {
      width: 96%;
      margin: 2%; } }
  .item-masonry .item-img {
    transition: all 0.3s ease-in-out; }
  .item-masonry .item-img {
    width: 100%;
    padding-top: 56.25%;
    height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .item-masonry .item-img.no-image {
    width: 100%;
    position: relative;
    padding-top: 38%;
    padding-right: 15px;
    padding-bottom: 15px;
    overflow: auto; }
    .item-masonry .item-img.no-image .item-text {
      color: #fff; }
  .item-masonry img {
    width: 100% !important;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden; }
  @media all and (min-width: 48em) {
    .item-masonry {
      width: calc(50% - 2px);
      margin: 1px; } }
  .item-masonry .item-text {
    text-align: left;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: -ms-linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 11, 39, 0.4) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000B27' ,GradientType=0)";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 11, 39, 0.4) 100%);
    filter: alpha(opacity=40) progid:DXImageTransform.Microsoft.Alpha(opacity=40) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#000B27' , GradientType=0);
    transition: all 0.3s ease-in-out; }
    .item-masonry .item-text h4 {
      color: #fff;
      font-size: 1rem; }
      @media all and (max-width: 47.99em) {
        .item-masonry .item-text h4 {
          font-size: .875rem; } }
    .item-masonry .item-text .sottotitolo {
      color: #fff; }
      @media all and (max-width: 47.99em) {
        .item-masonry .item-text .sottotitolo {
          font-size: .6rem; } }
    .item-masonry .item-text .sottotitolo:first-letter {
      text-transform: capitalize; }
  .item-masonry:hover {
    opacity: 1; }
  .item-masonry:hover .item-text {
    background-color: rgba(33, 20, 79, 0.7);
    transition: all 0.3s ease-in-out; }

.lowercase {
  text-transform: lowercase !important; }

.wrapper.page_title {
  margin-top: 200px; }
  @media all and (min-width: 62.5em) {
    .wrapper.page_title {
      margin-top: 120px; } }
