/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/* MAIN */
/* BODY */
html {
  overflow-y: scroll; }

html.bloccoscroll {
  overflow-y: hidden; }

html, body {
  font: normal 100%/1.5 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  word-spacing: 0.07em;
  font-weight: 300;
  max-width: 100%;
  color: #575756; }
  @media all and (min-width: 48em) {
    html, body {
      font-size: 13px; } }
  @media all and (min-width: 62.5em) {
    html, body {
      font-size: 14px; } }
  @media all and (min-width: 78.75em) {
    html, body {
      font-size: 15px; } }
  html p, body p {
    font-size: 12px;
    line-height: 1.6em; }
    @media all and (min-width: 48em) {
      html p, body p {
        font-size: 13px; } }
    @media all and (min-width: 62.5em) {
      html p, body p {
        font-size: 14px; } }
    @media all and (min-width: 78.75em) {
      html p, body p {
        font-size: 15px; } }

body:after, body:before {
  content: " ";
  position: fixed;
  width: 0px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1; }

body:after {
  left: inherit;
  right: 0; }

body.bloccoscroll {
  overflow: hidden; }

/* CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI  */
#contenuti {
  position: relative;
  z-index: 3;
  width: 100%;
  background: #fff;
  margin-top: 0; }

.wrapper {
  width: 90%;
  margin: 0 auto; }
