/* _MEDIAVISIBILITY.SCSS */
/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
.onlymobile {
  display: block; }

.onlytab {
  display: none !important; }

.onlywide {
  display: none !important; }

.nomobile {
  display: none !important; }

.notab {
  display: inherit !important; }

.nowide {
  display: inherit !important; }

@media screen and (min-width: 768px) {
  .onlymobile {
    display: none !important; }
  .onlytab {
    display: inherit !important; }
  .onlywide {
    display: none !important; }
  .nomobile {
    display: inherit !important; }
  .notab {
    display: none !important; }
  .nowide {
    display: inherit !important; } }

@media screen and (min-width: 1000px) {
  .onlymobile {
    display: none !important; }
  .onlytab {
    display: none !important; }
  .onlywide {
    display: inherit !important; }
  .nomobile {
    display: inherit !important; }
  .notab {
    display: inherit !important; }
  .nowide {
    display: none !important; } }
