@charset "UTF-8";
/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/* WORDPRESS.SCSS */
/* CONTACT FORM 7 */
form.wpcf7-form input, form.wpcf7-form textarea {
  padding: 0;
  display: block;
  width: 100%;
  border: 1px solid #000B27;
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #000B27;
  background: none !important;
  font-style: italic;
  padding: 10px; }

form.wpcf7-form textarea {
  height: 150px;
  padding-top: 15px; }

form.wpcf7-form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000B27; }

form.wpcf7-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000B27;
  opacity: 1; }

form.wpcf7-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000B27;
  opacity: 1; }

form.wpcf7-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000B27;
  line-height: 0 !important; }

form.wpcf7-form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000B27;
  line-height: 0 !important; }

form.wpcf7-form input[type="submit"] {
  text-align: center;
  width: auto;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  line-height: initial;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  border: 1px solid #000B27;
  float: right;
  background: #000B27 !important;
  transition: all .4s; }
  form.wpcf7-form input[type="submit"]:hover {
    background: #000B27 !important;
    color: #000B27;
    transition: all .4s; }

/* PAGINAZIONE WOOCOMMERCE / WORDPRESS */
nav.woocommerce-pagination {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em;
  float: left; }
  nav.woocommerce-pagination ul {
    display: block;
    margin: 0 auto;
    list-style: none; }
    nav.woocommerce-pagination ul li {
      display: inline-block;
      list-style: none; }
      nav.woocommerce-pagination ul li:before  {
        display: none !important; }
      nav.woocommerce-pagination ul li::before  {
        display: none !important; }
      nav.woocommerce-pagination ul li a, nav.woocommerce-pagination ul li span {
        display: block;
        color: #000B27;
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 400;
        border-radius: 1px; }
        nav.woocommerce-pagination ul li a img.arrow, nav.woocommerce-pagination ul li span img.arrow {
          margin-top: 4px;
          display: block;
          position: relative;
          top: 2px;
          right: 0px;
          transition: right .4s; }
      nav.woocommerce-pagination ul li a.prev img.arrow {
        left: 0px;
        transition: left .4s; }
      nav.woocommerce-pagination ul li a:hover {
        color: #000B27; }
      nav.woocommerce-pagination ul li a.next:hover img.arrow {
        right: -5px;
        transition: right .4s; }
      nav.woocommerce-pagination ul li a.prev:hover img.arrow {
        left: -5px;
        transition: left .4s; }
      nav.woocommerce-pagination ul li span {
        font-weight: 300;
        color: #000B27; }

/* GALLERY BLUEIMP */
#links.galleria {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

#links.galleria a {
  display: flex;
  align-content: center;
  flex-basis: 1;
  flex-grow: 0;
  margin: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  transition: opacity .4s;
  transition: all 0.3s ease-in-out;
  width: 90px;
  height: 90px; }
  @media all and (min-width: 31.25em) {
    #links.galleria a {
      width: 120px;
      height: 120px; } }
  @media all and (min-width: 62.5em) {
    #links.galleria a {
      width: 166px;
      height: 166px; } }
  #links.galleria a:hover {
    opacity: 0.5;
    transition: opacity .4s; }

#links.galleria.thumblink {
  width: 100%; }
  #links.galleria.thumblink a {
    width: 60%;
    padding-bottom: 65%;
    margin: 0 auto;
    float: none; }

/* FINE GALLERY */
