/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/* TIPOGRAFIA.SCSS */
html, body {
  font: normal 100%/1.5 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.6em; }

i, em {
  font-style: italic; }

strong, b {
  font-weight: bold; }

strong em, strong i {
  font-weight: bold;
  font-style: italic; }

/* Link di base */
a {
  text-decoration: none;
  color: #000B27;
  transition: all 0.2s ease-in-out 0.3s ease-in-out;
  outline: none !important; }

a:hover {
  opacity: 0.7;
  text-decoration: none;
  outline: none !important; }

/* TITOLI GENERALI DEL SITO */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3em;
  display: block;
  width: 100%;
  clear: both;
  font: normal 100%/1.5 "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
  text-transform: uppercase; }

h1 {
  line-height: 1.1em;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .1em; }
  @media all and (min-width: 62.5em) {
    h1 {
      font-size: 1.3rem; } }
  @media all and (min-width: 78.75em) {
    h1 {
      font-size: 1.4rem; } }

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .1em; }
  @media all and (min-width: 62.5em) {
    h2 {
      font-size: 1.3rem; } }

h3 {
  color: #000B27;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase; }

h4 {
  font: normal 100%/1.5 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000B27;
  text-transform: unset;
  font-size: .9375rem;
  font-weight: 400;
  letter-spacing: .1em; }

h5 {
  color: #575756;
  font-weight: 400;
  font-size: .8125rem;
  line-height: 1em;
  letter-spacing: .1em;
  text-transform: uppercase; }

h6 {
  font-size: 0.6875rem;
  color: #575756;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .1em; }
