/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/* WOOCOMMERCE.SCSS */
button.single_add_to_cart_button {
  display: block;
  color: #fff;
  background: #0592C7;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  margin-top: 3em;
  position: relative;
  bottom: 15px;
  border: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: all 0.3s ease-in-out;
  width: 200px;
  clear: both;
  margin-top: 30px;
  float: left;
  cursor: pointer !important; }
  button.single_add_to_cart_button:hover {
    background: #000B27; }

.immagine_singolo_prodotto {
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px;
  overflow: hidden; }

div.buttons_added {
  display: block;
  width: 200px;
  position: relative;
  clear: both; }

.buttons_added input.minus, .buttons_added input.plus {
  width: 30px;
  height: 30px;
  background: #000B27;
  color: #fff;
  float: left;
  margin-top: 1em;
  clear: none;
  border: 0;
  border-radius: 3px;
  cursor: pointer !important; }
  .buttons_added input.minus:hover, .buttons_added input.plus:hover {
    background: #000B27; }

.buttons_added input.plus {
  float: right; }

.buttons_added input.input-text.qty {
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  margin-top: 1em;
  margin-left: 5px;
  border: 0;
  background: none !important;
  padding-left: 10px; }

.book_start_date_label {
  margin-top: 1em !important;
  clear: both;
  display: block;
  text-transform: uppercase;
  color: #000B27;
  font-weight: 600;
  margin-bottom: 10px; }

.booking_calender.hasDatepicker {
  cursor: text !important;
  height: 30px;
  line-height: 30px;
  border: 0;
  background: none;
  border-bottom: 1px solid #000B27;
  display: block;
  float: left;
  margin-right: 2px; }

#checkin_cal {
  width: 30px !important;
  height: 30px !important; }

#show_addon_price {
  display: none !important; }

.woocommerce table.shop_table {
  border: 0 !important; }

.woocommerce table.shop_table td {
  border-top: 0 !important;
  border-bottom: 1px solid #000B27 !important; }

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  width: auto !important; }
  .woocommerce .cart-collaterals .cart_totals h2, .woocommerce-page .cart-collaterals .cart_totals h2 {
    line-height: 2em !important; }

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: #000B27 !important;
  margin-top: 1em !important;
  transition: all 0.3s ease-in-out; }
  .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #000B27 !important; }

.woocommerce {
  float: left;
  clear: both;
  width: 100%; }
