/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/* HEADER */
/* TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA */
/* STILE DEL MENU DI APERTURA DEL MENU */
.slide__caption {
  display: none; }

.slide__caption.wk-loaded {
  display: block; }

header {
  z-index: 999;
  top: 0;
  position: fixed;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out; }

header .wrap {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media all and (max-width: 62.49em) {
    header .wrap {
      height: 48px; } }

header.bianco {
  background-color: rgba(255, 255, 255, 0.8); }
  header.bianco:hover {
    background-color: white; }

/* LOGO */
.logo_container {
  width: 50%;
  transition: all 0.3s ease-in-out; }
  @media all and (min-width: 48em) {
    .logo_container {
      width: 25%; } }
  @media all and (min-width: 62.5em) {
    .logo_container {
      width: 20%;
      opacity: 1;
      visibility: visible; } }
  @media all and (min-width: 62.5em) {
    .logo_container {
      width: 18%; } }

.logo_container .titolo_sito svg {
  display: block; }

.logo_quadrato_container {
  width: 20%;
  max-width: 90px;
  left: 50%;
  top: 16px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99; }
  @media all and (min-width: 62.5em) {
    .logo_quadrato_container {
      display: none; } }

header.attivo .logo_quadrato_container,
.nav-open > .logo_quadrato_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) scale(0.75);
          transform: translateX(-50%) scale(0.75);
  transition: all 0.3s ease-in-out; }

@media all and (max-width: 62.49em) {
  header.attivo .logo_container {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    transition-delay: .5s; } }

#logo_sito {
  display: block;
  position: absolute;
  right: -96px;
  margin-right: 2%;
  height: auto;
  padding-bottom: 33.5%;
  width: 200px;
  overflow: visible;
  vertical-align: middle;
  z-index: 99; }
  #logo_sito svg {
    overflow: visible;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
  #logo_sito svg:not(:root) {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible; }
  @media screen and (min-width: 470px) and (max-width: 767px) {
    #logo_sito {
      right: 40px; } }
  @media all and (min-width: 48em) {
    #logo_sito {
      right: -260px;
      width: 358px;
      height: 120px;
      padding: 0;
      left: 86%;
      top: 2px; } }
  @media all and (min-width: 71.25em) {
    #logo_sito {
      left: 78%;
      width: 418px;
      height: 140px; } }

header.attivo {
  background-color: white;
  transition: all 0.3s ease-in-out; }

/*
header.attivo .wrap {
	background-color: $bianco;
	@include transition;
	transition-delay: .3s;
}*/
header.attivo #logo_sito {
  transition: all 0.3s ease-in-out; }
  @media all and (min-width: 48em) {
    header.attivo #logo_sito {
      width: 200px;
      height: 67px;
      top: 5px; } }

.wide_menu_container {
  display: none; }
  @media all and (min-width: 62.5em) {
    .wide_menu_container {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center; } }

/* SELETTORI LINGUA */
#lingue_mobile {
  text-transform: uppercase; }
  #lingue_mobile > li a {
    display: block;
    width: 100%;
    color: #fff;
    outline: none;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 1em 0.5em 1em 1em;
    text-shadow: 0 0 1px rgba(0, 11, 39, 0.1);
    border-bottom: 1px solid #00195a; }

.functional_menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  .functional_menu .search_item .elementor-icon-wrapper {
    display: flex;
    align-items: center; }
  .functional_menu li {
    margin: 0 20px; }
    .functional_menu li.instagram_item {
      margin: 0 0 0 20px; }
    .functional_menu li.search_item {
      margin: 0; }
  .functional_menu .language_selector_item {
    display: flex;
    align-items: center;
    justify-content: center; }
  .functional_menu .language_selector_item a {
    font: normal 100%/1.5 "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
    text-transform: uppercase;
    font-size: .7rem;
    opacity: .5;
    letter-spacing: .3em;
    font-weight: 300;
    line-height: 2.6em;
    position: relative;
    padding: 0 5px;
    transition: all 0.3s ease-in-out; }
    .functional_menu .language_selector_item a.active {
      opacity: 1;
      font-weight: 600; }
    .functional_menu .language_selector_item a:first-child::after {
      content: " ";
      width: 2px;
      height: 1.6em;
      background-color: #000B27;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .functional_menu .language_selector_item a:not(.active):hover {
    opacity: 1;
    transition: all 0.3s ease-in-out; }

.notouch header:hover {
  background-color: white;
  transition: all 0.3s ease-in-out; }

.notouch #menu_wide > li.menu-item-has-children:hover > .submenu {
  background-color: white !important;
  transition: all 0.3s ease-in-out; }
