/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/* MENU WIDE */
ul#menu_wide {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none; }

#menu_wide li {
  padding: 0px 20px; }

#menu_wide li a {
  font: normal 100%/1.5 "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  display: flex;
  align-items: center;
  position: relative; }

#menu_wide > li > a {
  padding: 15px 20px;
  font-weight: 600;
  letter-spacing: .6em; }

#menu_wide > li > ul.sub-menu {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  justify-content: flex-end;
  padding: 7px 5%;
  margin: 0;
  z-index: -1;
  list-style-type: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease-in-out; }

#menu_wide > li > ul.sub-menu > li:last-child {
  padding: 0px 0px 0 20px; }

/* NASCONDO SOTTOMENU */
/* MOSTRO SOTTOMENU SE ATTIVI */
#menu_wide > li.current-menu-ancestor > ul {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%); }

#menu_wide > li ul > li.menu-item-has-children > a:after {
  float: right;
  margin-left: 5px;
  padding-top: 0px;
  content: '';
  display: block;
  width: 8px;
  height: 10px;
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22%23000B27%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: all 0.3s ease-in-out; }

#menu_wide > li ul > li.menu-item-has-children > a.attivo:after {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22%23000B27%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: all 0.3s ease-in-out; }

#menu_wide > li ul > li.menu-item-has-children > a.aperto:after {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22%23000B27%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  transition: all 0.3s ease-in-out; }

#menu_wide > li.menu-item-has-children:hover > ul.sub-menu {
  opacity: 1;
  background-color: white;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  transition: all 0.3s ease-in-out; }

#menu_wide > li > ul > li > ul {
  position: absolute;
  list-style-type: none;
  padding: 10px 0;
  background-color: #000B27;
  visibility: hidden;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  #menu_wide > li > ul > li > ul li {
    padding: 5px 20px; }
  #menu_wide > li > ul > li > ul li a {
    color: white;
    font-size: .6875rem; }

#menu_wide > li > ul > li.menu-item-has-children:hover > ul {
  visibility: visible;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  opacity: 1;
  transition: all 0.3s ease-in-out; }

#menu_wide > li > a::before {
  content: " ";
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: -3px;
  transition: all 0.3s ease-in-out; }

#menu_wide > li:hover > a {
  opacity: 1; }

#menu_wide > li:hover > a::before,
#menu_wide .current-menu-item > a::before,
#menu_wide .current-menu-parent > a::before {
  width: calc(100% - 45px);
  transition: all 0.3s ease-in-out; }

#menu_wide > li > .sub-menu > li > a::before {
  content: " ";
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.3s ease-in-out; }

#menu_wide > li > .sub-menu > li:hover > a::before,
#menu_wide > li > .sub-menu > .current-menu-item > a::before {
  width: 100%;
  transition: all 0.3s ease-in-out; }

/*
body #menu_wide > li.menu-item.news-menu-item {
	position: relative;
}*/
body #menu_wide > li.menu-item.current-menu-parent > .sub-menu {
  z-index: -9; }

body #menu_wide > li.menu-item.news-menu-item > .sub-menu {
  padding: 7px calc(5% + 118px) 7px 5%; }

/*** HEADER ATTIVO ***/
header.attivo #menu_wide > li > ul.sub-menu {
  background-color: white;
  transition: all 0.3s ease-in-out; }
