/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/***************************/
/* STILE DEL MENU DI APERTURA DEL MENU */
/* MENUMOBILE:SCSS */
/* STILE DEL MENU DI APERTURA DEL MENU */
a.mobile-menu {
  display: block;
  width: 48px;
  height: 48px;
  right: 0px;
  top: 0px;
  position: absolute;
  z-index: 999999999;
  background-color: transparent;
  opacity: 1; }
  @media all and (min-width: 62.5em) {
    a.mobile-menu {
      display: none; } }
  a.mobile-menu span {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 14px;
    left: 14px;
    background-color: #000B27; }

nav.menu_mobile_nav {
  background: #fff;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: unset;
  left: 0;
  opacity: .95;
  transition: all .4s;
  transition-delay: .6s;
  text-align: center;
  /* UL */ }
  @media all and (min-width: 62.5em) {
    nav.menu_mobile_nav {
      display: none; } }
  nav.menu_mobile_nav .nav_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    transition: all 0.3s ease-in-out; }
  nav.menu_mobile_nav ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    /* LI */
    /* NASCONDO SOTTOMENU */
    /* MOSTRO SOTTOMENU SE ATTIVI */ }
    nav.menu_mobile_nav ul > li {
      padding: 0;
      list-style: none; }
      nav.menu_mobile_nav ul > li a {
        font: normal 100%/1.5 "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
        display: inline-block;
        width: auto;
        color: #000B27;
        outline: none;
        font-size: .75rem;
        text-transform: uppercase;
        padding: 0 0 1.2em 0;
        letter-spacing: .5em;
        box-sizing: border-box;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        opacity: .4;
        transition: all 0.3s ease-in-out; }
      nav.menu_mobile_nav ul > li a:hover {
        opacity: 1;
        transition: all 0.3s ease-in-out; }
    nav.menu_mobile_nav ul.menu_mobile_tech::before {
      content: " ";
      width: 30px;
      border-bottom: 1px solid white; }
    nav.menu_mobile_nav ul.menu_mobile_tech > li a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px; }
    nav.menu_mobile_nav ul > li > ul {
      display: none; }
    nav.menu_mobile_nav ul > li.current-menu-ancestor > ul {
      display: block; }
    nav.menu_mobile_nav ul li.menu-item-has-children > a:after {
      margin-left: 5px;
      padding-top: 0px;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22%23000B27%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      transition: all 0.3s ease-in-out; }
    nav.menu_mobile_nav ul li.menu-item-has-children > a.attivo:after {
      background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22%23000B27%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      transition: all 0.3s ease-in-out; }
    nav.menu_mobile_nav ul li.menu-item-has-children > a.aperto:after {
      background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22%23000B27%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      transition: all 0.3s ease-in-out; }
    nav.menu_mobile_nav ul li.current-menu-item a {
      opacity: 1; }

.menu_mobile_nav {
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 0.3s ease-in-out; }

/*** OPEN EVENT ***/
.nav-open .menu_mobile_nav {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  transition: all 0.3s ease-in-out; }
  .nav-open .menu_mobile_nav .nav_wrapper {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    transition: 0.4s 0.3s ease-in-out;
    transition-delay: .6s; }

.sub-menu > li > a {
  font-size: .65rem; }

/* ICON MENU */
.icon_mobile_menu, .social_mobile_menu, .app_mobile_menu {
  width: 90%;
  margin-left: 5% !important;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  display: flex;
  /* */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 27px !important; }
  .icon_mobile_menu li, .social_mobile_menu li, .app_mobile_menu li {
    padding: 0;
    margin: 0;
    width: 30px !important;
    height: 20px;
    margin: 15px;
    display: inline-block; }
    .icon_mobile_menu li a, .social_mobile_menu li a, .app_mobile_menu li a {
      width: 30px !important;
      height: 20px;
      display: inline-block !important;
      position: relative;
      padding: 0 !important; }
      .icon_mobile_menu li a svg, .social_mobile_menu li a svg, .app_mobile_menu li a svg {
        height: 20px; }
        .icon_mobile_menu li a svg path, .social_mobile_menu li a svg path, .app_mobile_menu li a svg path {
          fill: #fff; }
  .icon_mobile_menu li.lang_mobile a, .social_mobile_menu li.lang_mobile a, .app_mobile_menu li.lang_mobile a {
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 18px; }

.menu_mobile_nav .logo_quadrato_container {
  position: relative;
  margin-bottom: 30px; }

.menu_mobile_nav .functional_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px; }

.menu_mobile_nav .functional_menu li {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  margin: 0; }

.menu_mobile_nav .functional_menu .language_selector_item {
  width: 100%; }
  .menu_mobile_nav .functional_menu .language_selector_item a {
    min-width: 30px; }
  .menu_mobile_nav .functional_menu .language_selector_item a:last-child {
    margin-left: 2px; }
