/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/* HOMEPAGE */
.hero-slider-home.wk-slider {
  height: 100vh; }

.hero-slider-home.wk-slider ul.slides li {
  height: 100vh; }

.hero-slider-home ol.flex-control-nav.flex-control-paging {
  display: none; }

@media all and (min-width: 62.5em) {
  .notouch .hero-slider-home .flex-direction-nav li a {
    width: 5%; } }

.slide__caption {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font: normal 100%/1.5 "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
  letter-spacing: .1em;
  font-size: .75rem;
  color: white;
  font-weight: 300;
  max-width: 90%; }
  .slide__caption p {
    font-size: .75rem;
    color: white;
    font-weight: 300;
    line-height: 1.2em;
    margin: 0; }
    @media all and (max-width: 47.99em) {
      .slide__caption p {
        font-size: .6rem; } }
  .slide__caption h4 {
    color: white;
    margin-bottom: 0;
    line-height: 1.3em;
    font-size: .875rem; }
    @media all and (min-width: 48em) {
      .slide__caption h4 {
        line-height: 1.6em;
        font-size: 1.125rem; } }

.hero-slider-home ul.slides li > a {
  position: absolute;
  width: 100%;
  height: 100%; }
  .hero-slider-home ul.slides li > a:hover,
  .hero-slider-home ul.slides li > a:hover * {
    opacity: 1 !important; }
