/***************************/
/******* CONFIG VARS *******/
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/******* CONFIG MIXIN ******/
/* _MIXIN.SCSS */
/***************************/
/* SLIDER */
.wk-slider {
  width: 100%;
  height: auto;
  position: relative;
  height: 70vh; }
  @media all and (min-width: 62.5em) {
    .wk-slider {
      margin-bottom: 5px; } }
  @media all and (min-width: 78.75em) {
    .wk-slider {
      margin-bottom: 10px; } }
  .wk-slider ul.slides {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    min-height: 100vh; }
    .wk-slider ul.slides li {
      width: 100%;
      height: 0;
      padding: 0;
      padding-bottom: 0%;
      position: relative;
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
      .wk-slider ul.slides li:before {
        content: "";
        display: none; }
      .wk-slider ul.slides li .slideimg {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        height: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
        @media all and (min-width: 48em) {
          .wk-slider ul.slides li .slideimg {
            padding-bottom: 70vh; } }
      .wk-slider ul.slides li .testo_slide {
        position: relative;
        padding: 10px;
        padding-left: 0vw;
        padding-right: 0vw;
        color: #000;
        box-sizing: border-box;
        position: absolute;
        width: auto;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        text-align: center; }
        @media all and (max-width: 47.99em) {
          .wk-slider ul.slides li .testo_slide {
            color: #fff !important;
            padding-left: 5vw;
            padding-right: 5vw;
            padding-top: 5vh; } }
        @media all and (min-width: 48em) {
          .wk-slider ul.slides li .testo_slide {
            position: absolute;
            width: auto;
            max-width: 800px;
            color: #fff; } }
        .wk-slider ul.slides li .testo_slide a.pulsante {
          margin-top: 2.5em; }
        .wk-slider ul.slides li .testo_slide span {
          font-size: 1.5em;
          line-height: 1.2em;
          font-weight: 300; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide span {
              font-size: 1.7em; } }
          @media all and (min-width: 62.5em) {
            .wk-slider ul.slides li .testo_slide span {
              font-size: 1.8em; } }
          @media all and (min-width: 78.75em) {
            .wk-slider ul.slides li .testo_slide span {
              font-size: 2em; } }
        .wk-slider ul.slides li .testo_slide.top-left {
          text-align: left; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide.top-left {
              text-align: left;
              left: 8vw;
              top: 8vw; } }
        .wk-slider ul.slides li .testo_slide.top-center {
          text-align: center; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide.top-center {
              text-align: center;
              left: 50%;
              -webkit-transform: translateX(-50%);
                      transform: translateX(-50%);
              top: 8vw; } }
        .wk-slider ul.slides li .testo_slide.top-right {
          text-align: right; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide.top-right {
              text-align: right;
              right: 8vw;
              top: 8vw; } }
        .wk-slider ul.slides li .testo_slide.center-left {
          text-align: left; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide.center-left {
              text-align: left;
              left: 8vw;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%);
              top: 50%; } }
        .wk-slider ul.slides li .testo_slide.center-center {
          text-align: center; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide.center-center {
              text-align: center;
              left: 50%;
              -webkit-transform: translateX(-50%) translateY(-50%);
                      transform: translateX(-50%) translateY(-50%);
              top: 50%; } }
        .wk-slider ul.slides li .testo_slide.center-right {
          text-align: right; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide.center-right {
              text-align: right;
              right: 8vw;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%);
              top: 50%; } }
        .wk-slider ul.slides li .testo_slide.bottom-left {
          text-align: left; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide.bottom-left {
              text-align: left;
              left: 8vw;
              bottom: 8vw; } }
        .wk-slider ul.slides li .testo_slide.bottom-center {
          text-align: center; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide.bottom-center {
              text-align: center;
              left: 50%;
              -webkit-transform: translateX(-50%);
                      transform: translateX(-50%);
              bottom: 8vw; } }
        .wk-slider ul.slides li .testo_slide.bottom-right {
          text-align: right; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .testo_slide.bottom-right {
              text-align: right;
              bottom: 8vw;
              right: 8vw; } }
      .wk-slider ul.slides li .caption {
        position: absolute;
        max-width: 30px;
        min-width: 30px;
        min-height: 30px;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0);
        border: 2px solid #fff;
        overflow: hidden;
        bottom: 15px;
        left: 15px;
        color: #fff;
        transition: max-width .3s, background 0.3s, color .3s;
        transition-delay: 0.3s; }
        @media all and (min-width: 48em) {
          .wk-slider ul.slides li .caption {
            max-width: 48px;
            min-width: 48px;
            min-height: 48px;
            border-radius: 24px;
            bottom: 24px;
            left: 24px; } }
        .wk-slider ul.slides li .caption span {
          display: block;
          margin-left: 30px;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-right: 10px;
          font-size: 11px;
          line-height: 14px;
          max-height: 26px;
          min-width: 100px;
          overflow: hidden;
          transition-property: max-height;
          transition-duration: 0.3s;
          transition-delay: 0s; }
          .wk-slider ul.slides li .caption span::first-letter {
            text-transform: uppercase; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .caption span {
              margin-left: 48px;
              padding-top: 14px;
              padding-bottom: 14px;
              padding-right: 20px;
              font-size: 12px;
              line-height: 16px;
              max-height: 36px; } }
          @media all and (min-width: 62.5em) {
            .wk-slider ul.slides li .caption span {
              padding-top: 13px;
              padding-bottom: 13px;
              font-size: 13px;
              line-height: 17px; } }
          @media all and (min-width: 78.75em) {
            .wk-slider ul.slides li .caption span {
              padding-top: 12px;
              padding-bottom: 12px;
              font-size: 14px;
              line-height: 18px; } }
        .wk-slider ul.slides li .caption:before {
          display: block;
          position: absolute;
          text-align: center;
          content: "i";
          width: 30px;
          height: 30px;
          left: 0;
          line-height: 100%;
          font-size: 25px;
          top: 50%;
          margin-top: -12px;
          left: -2px; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .caption:before {
              content: "i";
              width: 48px;
              height: 48px;
              font-size: 30px;
              top: 50%;
              margin-top: -15px; } }
      .wk-slider ul.slides li .caption.attivo {
        max-width: calc( 100% - 30px) !important;
        background: #fff !important;
        color: #fff !important;
        transition: max-width .3s, background 0.3s, color .3s;
        transition-delay: 0s !important; }
        .wk-slider ul.slides li .caption.attivo:before {
          content: "x" !important;
          font-size: 19px !important;
          margin-top: -11px !important;
          font-weight: 300 !important; }
          @media all and (min-width: 48em) {
            .wk-slider ul.slides li .caption.attivo:before {
              font-size: 25px !important;
              margin-top: -15px !important; } }
        .wk-slider ul.slides li .caption.attivo span {
          max-height: 90px !important;
          max-height: 100% !important;
          transition-property: max-height !important;
          transition-duration: 0.3s !important;
          transition-delay: .2s !important; }

@media all and (max-width: 47.99em) {
  .flex-direction-nav {
    display: none !important; } }

@media all and (min-width: 48em) {
  .wk-slider a.flex-prev, .wk-slider a.flex-next {
    display: block; }
  .wk-slider .flex-direction-nav {
    padding-top: 0;
    padding-bottom: 0; }
    .wk-slider .flex-direction-nav li:before {
      content: "";
      display: none; }
  .wk-slider .flex-direction-nav li a {
    position: absolute;
    width: 10%;
    height: 80%;
    top: 10%;
    z-index: 9;
    cursor: pointer;
    color: transparent;
    opacity: 0;
    left: 5%; }
    .wk-slider .flex-direction-nav li a.flex-prev::before {
      content: " ";
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='arrow_left' x='0px' y='0px' viewBox='0 0 39.7 75.2' style='enable-background:new 0 0 39.7 75.2;' xml:space='preserve'%3E%3Cpolyline class='st0' style='opacity:1;fill:none;stroke:%23B2B2B2;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;' points='37.6,2 2,37.6 37.7,73.2 '/%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      transition: all 0.3s ease-in-out;
      background-position: left center;
      -webkit-transform: translateX(0%) translateY(-50%) rotate(0deg);
              transform: translateX(0%) translateY(-50%) rotate(0deg);
      width: 50px;
      height: 50px;
      top: 50%;
      left: 0%;
      position: absolute; }
    .wk-slider .flex-direction-nav li a.flex-next {
      left: inherit;
      right: 5%; }
    .wk-slider .flex-direction-nav li a.flex-next::before {
      content: " ";
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='arrow_left' x='0px' y='0px' viewBox='0 0 39.7 75.2' style='enable-background:new 0 0 39.7 75.2;' xml:space='preserve'%3E%3Cpolyline class='st0' style='opacity:1;fill:none;stroke:%23B2B2B2;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;' points='37.6,2 2,37.6 37.7,73.2 '/%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      transition: all 0.3s ease-in-out;
      background-position: left center;
      -webkit-transform: translateX(0%) translateY(-50%) rotate(180deg);
              transform: translateX(0%) translateY(-50%) rotate(180deg);
      width: 50px;
      height: 50px;
      top: 50%;
      left: unset;
      right: 0;
      position: absolute; } }

@media all and (min-width: 48em) {
  .notouch .wk-slider:hover .flex-direction-nav li a {
    opacity: 0.3; }
  .notouch .wk-slider:hover .flex-direction-nav li a.flex-next {
    left: inherit; }
  .notouch .wk-slider:hover .flex-direction-nav li a:hover {
    opacity: 1; }
  .notouch .wk-slider:hover .flex-direction-nav li a.flex-next:hover {
    left: inherit; } }

.notouch .wk_caption_inside .caption:hover {
  max-width: calc( 100% - 30px) !important;
  background: #fff !important;
  color: #fff !important;
  transition: max-width .3s, background 0.3s, color .3s;
  transition-delay: 0s !important; }
  .notouch .wk_caption_inside .caption:hover span {
    max-height: 90px !important;
    max-height: 100% !important;
    transition-property: max-height !important;
    transition-duration: 0.3s !important;
    transition-delay: .2s !important; }

.notouch a.slidelink {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: text-shadow .5s; }
  .notouch a.slidelink:hover {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }

.wk-slider.wk_vertical {
  width: 100%;
  height: auto;
  position: relative; }
  .wk-slider.wk_vertical ul.slides {
    width: 100%;
    height: auto;
    min-height: 100vh; }
    .wk-slider.wk_vertical ul.slides li {
      width: 100%;
      height: auto; }
      .wk-slider.wk_vertical ul.slides li .slideimg {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 132%; }
        @media all and (min-width: 48em) {
          .wk-slider.wk_vertical ul.slides li .slideimg {
            padding-bottom: 132%; } }
        @media all and (min-width: 62.5em) {
          .wk-slider.wk_vertical ul.slides li .slideimg {
            padding-bottom: 132%; } }
        @media all and (min-width: 78.75em) {
          .wk-slider.wk_vertical ul.slides li .slideimg {
            padding-bottom: 132%; } }

.wk-slider.wk_horizontal {
  width: 100%;
  height: auto;
  position: relative; }
  .wk-slider.wk_horizontal ul.slides {
    width: 100%;
    height: auto;
    min-height: 100vh; }
    .wk-slider.wk_horizontal ul.slides li {
      width: 100%;
      height: auto; }
      .wk-slider.wk_horizontal ul.slides li .slideimg {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 60%; }
        @media all and (min-width: 48em) {
          .wk-slider.wk_horizontal ul.slides li .slideimg {
            padding-bottom: 60%; } }
        @media all and (min-width: 62.5em) {
          .wk-slider.wk_horizontal ul.slides li .slideimg {
            padding-bottom: 60%; } }
        @media all and (min-width: 78.75em) {
          .wk-slider.wk_horizontal ul.slides li .slideimg {
            padding-bottom: 60%; } }

.wk-slider.wk_squared {
  width: 100%;
  height: auto;
  position: relative; }
  .wk-slider.wk_squared ul.slides {
    width: 100%;
    height: auto;
    min-height: 100vh; }
    .wk-slider.wk_squared ul.slides li {
      width: 100%;
      height: auto; }
      .wk-slider.wk_squared ul.slides li .slideimg {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 100%; }
        @media all and (min-width: 48em) {
          .wk-slider.wk_squared ul.slides li .slideimg {
            padding-bottom: 100%; } }
        @media all and (min-width: 62.5em) {
          .wk-slider.wk_squared ul.slides li .slideimg {
            padding-bottom: 100%; } }
        @media all and (min-width: 78.75em) {
          .wk-slider.wk_squared ul.slides li .slideimg {
            padding-bottom: 100%; } }

.wk-slider.wk_horizontal .flex-control-nav, .wk-slider.wk_vertical .flex-control-nav, .wk-slider.wk_squared .flex-control-nav {
  width: 100%;
  position: absolute;
  text-align: right;
  display: block !important;
  z-index: 999;
  top: calc( 100% + 7px);
  overflow: hidden;
  text-align: center; }
  @media all and (min-width: 48em) {
    .wk-slider.wk_horizontal .flex-control-nav, .wk-slider.wk_vertical .flex-control-nav, .wk-slider.wk_squared .flex-control-nav {
      top: calc( 100% + 12px); } }

.wk-slider.wk_horizontal .flex-control-nav li, .wk-slider.wk_vertical .flex-control-nav li, .wk-slider.wk_squared .flex-control-nav li {
  padding: 0;
  margin: 0 3px;
  display: inline-block;
  zoom: 1;
  *display: inline; }
  @media all and (min-width: 48em) {
    .wk-slider.wk_horizontal .flex-control-nav li, .wk-slider.wk_vertical .flex-control-nav li, .wk-slider.wk_squared .flex-control-nav li {
      margin: 0 5px; } }
  .wk-slider.wk_horizontal .flex-control-nav li:last-child, .wk-slider.wk_vertical .flex-control-nav li:last-child, .wk-slider.wk_squared .flex-control-nav li:last-child {
    margin-right: 0; }
  .wk-slider.wk_horizontal .flex-control-nav li:before, .wk-slider.wk_vertical .flex-control-nav li:before, .wk-slider.wk_squared .flex-control-nav li:before {
    display: none !important; }

.wk-slider.wk_horizontal .flex-control-paging li a, .wk-slider.wk_vertical .flex-control-paging li a, .wk-slider.wk_squared .flex-control-paging li a {
  display: block;
  width: 7px;
  height: 7px;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
  text-indent: 9999px;
  border-radius: 20px; }
  @media all and (min-width: 48em) {
    .wk-slider.wk_horizontal .flex-control-paging li a, .wk-slider.wk_vertical .flex-control-paging li a, .wk-slider.wk_squared .flex-control-paging li a {
      width: 11px;
      height: 11px; } }

.wk-slider.wk_horizontal .flex-control-paging li a:hover, .wk-slider.wk_vertical .flex-control-paging li a:hover, .wk-slider.wk_squared .flex-control-paging li a:hover {
  background: #fff; }

.wk-slider.wk_horizontal .flex-control-paging li a.flex-active, .wk-slider.wk_vertical .flex-control-paging li a.flex-active, .wk-slider.wk_squared .flex-control-paging li a.flex-active {
  background: #fff;
  cursor: default; }

.wk-slider.wk_contain ul li {
  background-color: #b3b3b3 !important; }
  .wk-slider.wk_contain ul li .slideimg {
    background-size: contain !important; }

.wk-slider.wk_horizontal .slides {
  height: 0;
  padding-bottom: 64%;
  margin-bottom: 100px; }
  .wk-slider.wk_horizontal .slides li {
    height: 0;
    padding-top: 64%;
    background-size: contain; }

.wk-slider .flex-direction-nav li a {
  font-size: 0 !important; }
